
        @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


        .testimonial{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            margin: 0 10px;
        }
        .testimonial-boxs{
            display: flex;
            margin: -20px 30px;
            padding: 20px;
            flex-wrap: wrap;
            row-gap: 10px;
        }
        .testimonial-box{
            width: 33%;
            /* margin: auto; */
            display: flex;
            background-color: aliceblue;
        }
        .testimonial-box img{
            
            float: left;
            flex-wrap: wrap;
            border-radius: 50%;
            padding:40px 20px;
        }
        .testimonial-box-text {
            
            margin: 0;
            padding: 20px;
            clear: both;
            list-style-position: outside;
        }

        .footer {
            background-color: rgb(44, 43, 43);
            color: white;
            width: 100%;
            margin-top: 80px;
            font-family: Arial, Helvetica, sans-serif;

        }

        .upperFooter {
            width: 1350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin: auto;

        }

        .innerFooter {
            width: 330px;
            height: 300px;
            margin-top: 30px;
        }

        .innerFooter a {
            content: "\f095";
            display: block;
            width: 100%;
            margin: 20px 0;
            color: white;
            text-decoration: none;
        }

        .innerFooter a:hover {
            text-decoration: underline;
        }

        .innerFooter input:last-child:hover {
            cursor: pointer;
        }


        .innerFooter p {
            color: gray;
        }


        #innerfooter1 {
            width: 90%;
            margin-bottom: 80px;
        }

        #innerFooter2 input {
            margin-right: -10px;
            width: 60%;
            height: 35px;
            border-radius: 10px 0 0 10px;
        }

        #innerFooter2 input:last-child {
            width: 100px;
            height: 40px;
            color: white;
            border-radius: 0 10px 10px 0;
            background-color: rgb(33, 164, 211);
        }

        .blowFooter {
            background-color: rgba(0, 0, 0, 0.882);
            text-align: center;
            display: flex;
            align-items: center;
        }

        .blowFooter p {
            margin: auto;
            width: 1350px;
            margin: 40px auto;
            color: gray;
        }

        .spareshub {
            height: 40px;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -20px;
            /* left: 16px; */
            background-color: rgb(33, 164, 211);
            float: left;
            display: inline;
        }

        .spareshub::before {

            content: '';
            display: block;
            width: 7px;
            height: 0px;
            position: absolute;
            left: -16px;
            top: 0;
            border-right: 10px solid #069;
            border-right-width: 10px;
            border-right-style: solid;
            border-right-color: rgb(0, 102, 153);
            border-top: 16px solid transparent;
            border-top-width: 20px;
            border-top-style: solid;
            border-top-color: transparent;
        }

        .spareshub span {
            text-align: center;
            font-size: 150%;
            margin: 0 20px;
            font-family: 'Shadows Into Light', cursive;
        }


        @media all and (min-width: 1098px) and (max-width: 1420px) {
            .blowFooter p {
                width: 1020px;
            }

            .upperFooter {
                width: 1020px;
            }

            .innerFooter {
                width: 250px;
            }
        }

        @media all and (min-width: 820px) and (max-width: 1097px) {
            .testimonial-box{
                width: 400px;
                height: 300px;
            }
            .testimonial-box-text{
                padding-top: -40px;
                /* margin-top: -40px; */
            }

            .upperFooter {
                width: 750px;
                padding-top: 30px;
                display: block;
            }

            .innerFooter {
                height: auto;
                width: 350px;
            }

            .blowFooter p {
                width: 750px;
            }

            .innerFooter:last-child {
                margin-top: 70px;
            }

            #innerFooter2 input {
                width: 70%;
            }
            .spareshub{
                top: -50px;
            }
        }

        @media all and (min-width: 640px) and (max-width: 819px) {

            .testimonial{
                width: 80%;
                margin: auto;
            }
            .testimonial-boxs{
                flex-wrap: wrap;
            }
            .testimonial-box{
                /* flex-wrap: wrap; */
                width: 100%;
                height: 300px;
                padding-top: -40px;
            }

            .upperFooter {
                width: 540px;
                padding-top: 30px;
                display: block;
            }

            .innerFooter {
                height: auto;
                width: 350px;
            }

            .blowFooter p {
                width: 540px;
            }

            .innerFooter:last-child {
                margin-top: 70px;
            }

            #innerFooter2 input {
                width: 70%;
            }
            .spareshub{
                top: -50px;
            }
        }
        
        @media all and (min-width: 80px) and (max-width: 639px) {

            .testimonial-box-text{
                padding-top: -40px;
                margin-top: -40px;
            }
            .testimonial-boxs{
                margin: auto;
                flex-wrap: wrap;
            }
            .testimonial-box{
                width: auto;
                margin-top: 0px;
                flex-wrap: wrap;
            }

            .footer {
                width: 100%;
            }

            .upperFooter {
                width: 90%;
                padding-top: 30px;
                display: block;
                margin-left: 20px;
            }
            
            .innerFooter {
                height: auto;
                width: 100%;
            }

            .blowFooter p {
                width: 90%;
            }

            .innerFooter:last-child {
                margin-top: 70px;
            }
            
            #innerFooter2 input {
                width: 10%;
            }
            .spareshub{
                top: -50px;
            }
        }
    